/* ================= WEB SETTINGSS ================= */
@font-face {
    font-family: 'Garet', sans-serif;
    src: url('https://d2nt2stsaqz8ux.cloudfront.net/globalstatic/font/Garet-Book.woff') format('woff');
    src: url('https://d2nt2stsaqz8ux.cloudfront.net/globalstatic/font/Garet-Book.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Garet ExtraBold', sans-serif;
    src: url('https://d2nt2stsaqz8ux.cloudfront.net/globalstatic/font/Garet-Extrabold.woff') format('woff');
    src: url('https://d2nt2stsaqz8ux.cloudfront.net/globalstatic/font/Garet-Extrabold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'League Spartan', sans-serif;
    src: url('https://d2nt2stsaqz8ux.cloudfront.net/globalstatic/font/leaguespartan-bold.woff') format('woff');
    src: url('https://d2nt2stsaqz8ux.cloudfront.net/globalstatic/font/leaguespartan-bold.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Garet', sans-serif;
    src: url('https://d2nt2stsaqz8ux.cloudfront.net/globalstatic/font/Garet-Heavy.woff2') format('woff2'),
         url('https://d2nt2stsaqz8ux.cloudfront.net/globalstatic/font/Garet-Heavy.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}


html, 
body{
    margin: 0;
    padding: 0;
}

/* ================= IMAGES ======================= */

.logo {
    position: absolute;
    top: 24vh;
    right: 20vw;
    width: 12vw;
    display: inline-block;
    z-index: 3;
}

.logo img {
    width: 100%;
    height: auto;
}

.bars {
    position: absolute;
    top: 40vh;
    right: 15vw;
    width: 0.6vw;
    display: inline-block;
    z-index: 0;
}

.bars img {
    width: 100%;
    height: auto;
}

/* ================= ARTICLE 1 & 2 ================= */
.main-wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.article1,
.article2 {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.article1 {
    position: relative;
    height: 68vh;
}

.article1 .bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
}

.article1 .bg-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.article2 {
    position: relative;
    height: 67vh;
}

.article2 .bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
}

.article2 .bg-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
}

.content1,
.content2 {
    width: 37vw;
    margin-left: 6vw;
    margin-right: auto;
    position: relative;
    z-index: 1;
}

.text-side-black {
    max-width: 400px;
    color: #222;
}


.text-side-white {
    max-width: 400px; 
    color: #fff;
}

.text-side-black h1 {
    font-family: 'Garet ExtraBold', sans-serif;
    font-weight: 800;
    line-height: 1.1;
    margin-bottom: 1.4rem;
    max-width: 40vw; 
    color: #222;
}
.text-side-white h1 {
    font-family: 'Garet ExtraBold', sans-serif;
    font-weight: 800;
    line-height: 1.1;
    margin-bottom: 1.4rem;
    max-width: 40vw; 
    color: #fff;
}

.first-line {
    font-size: 3vw;
}

.second-line {
    font-size: 2.5vw;
}

.first-line-2 {
    font-size: 3.7vw;
}

.second-line-2 {
    font-size: 4vw;
}

.text-side-black p {
    font-family: 'Garet', sans-serif;
    font-size: 1.3rem;
    line-height: 1.5;
    margin-bottom: 1.6rem;
    max-width: vw; 
    color: #222;
}
.text-side-white p {
    font-family: 'Garet', sans-serif;
    font-size: 1.3rem;
    line-height: 1.5;
    margin-bottom: 1.6rem;
    max-width: 24vw; 
    color: #fff;
}

.read-more {
    font-size: 20px;
    font-weight: 600;
    font-family: Garet ExtraBold, sans-serif;
    color: #5baa39;
    font-style: italic;
}

/* ================ Article 3================= */

.article3 {
    display: grid;
    grid-template-rows: auto auto;
    width: 100%;
    padding: 0rem 0vw;
    position: relative;
}

.article3 .bg-image, .bottom-area .bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
}

.article3 .bg-image img, .bottom-area .bg-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
}

/* ================= EXHAUSTION ================= */
.exhaustion {
    margin: 0 6vw;
    display: flex;
    flex-direction: column;
    z-index: 5;
}

.exhaustion-header {
    display: flex;
    flex-direction: row;
}
.exhaustion-header-text {
    display: flex;
    flex-direction: column;
    width: 60%;
}
.margin-btm, exhaustion h5 {
    color: #404040;
    font-size: 22px;
    font-family: 'Garet', sans-serif;
    margin: 0 0 12px 0;
}
.exhaustion-text {
    flex: 1.25;
}

.exhaustion h1 {
    font-family: 'League Spartan', sans-serif;
    font-size: 30px;
    font-weight: 800;
    margin: auto 0 22px 0;
}

.exhaustion p {
    font-family: 'Garet', sans-serif;
    color: #404040;
    font-size: 22px;
    max-width: 700px;
    line-height: 1.55;
    margin-bottom: 16px;
}

/* colored emphasis text */
.depth {
    color: #90ba3e;
    font-weight: 900;
    letter-spacing: 0.5px;
}

.rhythm {
    color: #409ed9;
    font-weight: 900;
    letter-spacing: 0.5px;
}

.restoration {
    color: #3cb2c4;
    font-weight: 900;
    letter-spacing: 0.5px;
}

.product {
    flex: 1;
    display: flex;
    justify-content: center;
}

.product img {
    width: 100%;
}

.green-banner {
    font-family: 'Garet', sans-serif;
    margin-top: 2rem;
    padding: 1rem 1.3rem;
    background: #5baa39;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border-radius:0 0 2rem 2rem;
}

.bottom-area {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    margin: 0 auto 0rem auto;
    padding: 100px 0;
    max-width: 1200px;
    font-family: Garet, sans-serif;
    position: relative;
    z-index: 1;
}

.left-box {
    font-size: 1.8rem;
    font-weight: 600;
    text-align: left;
}

.triangle {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
}

.triangle img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.right-box {
    max-width: 420px;
    font-size: 22px;
    margin-left: -20%;
    line-height: 1.5;
    text-align: left;
    padding-top: 2vh;
    z-index: 5;
}

.link {
    font-family: Garet, sans-serif;
    text-decoration: none;
    color: #ffe15c;
}

/* =============== FOOTER ================== */

.footer-wrapper {
    background: #eae7e7;
}

.footer {
    background: #6dbd1e;
    text-align: center;
    padding: 10px;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    font-family: Garet, sans-serif;
    letter-spacing: 0.2vw;
}

.footer a {
    color: #fff;
}

/* ================= IPAD ================= */
@media (max-width: 768px) {
    /* GENERAL RESET: full width, centered */
    .article1,
    .article2 {
        display: block;
        height: auto;
        min-height: 100vh;
        background: none;
    }

    /* IMAGE BANNER HEIGHT */
    .article1::before,
    .article2::before {
        content: "";
        display: block;
        width: 100%;
    }

    .article1 .bg-image {
        width: 100vw;
        height: 50vh;
    }

    .article1 .bg-image img {
        object-position: right !important;
        mask-image: linear-gradient(
            to bottom,
            rgba( 0, 0, 0, 1) 80%,
            rgba( 0, 0, 0, 0) 100%
        );
    }

    .article2 .bg-image {
        background-size: cover;
        background-position: center;
        width: 100vw;
        position: absolute;
        height: 50vh;
        mask-image: linear-gradient(
            to bottom, 
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 1) 5%, 
            rgba(0, 0, 0, 1) 61%, 
            rgba(0, 0, 0, 0) 97%);
    }

    .article2 .bg-image img {
            object-position: 30% 0 !important;
    }

    /* TEXT CONTAINER */
    .content1 {
        width: 85vw;
        margin: 0 auto;
        padding: 56vh 0 10vh;
        text-align: center;
        z-index: 5;
    }

    .content2 {
        width: 85vw;
        margin: 0 auto;
        padding: 54vh 0 10vh;
        text-align: center;
        z-index: 5;
    }

    .text-side-black,
    .text-side-white {
        line-height: unset;
        max-width: 100%;
    }

    .first-line,
    .second-line-2 {
        font-size: 26px;
    }

    .second-line,
    .first-line-2 {
        font-size: 22px;
    }

    .text-side-black p,
    .text-side-white p {
        font-size: 1.1rem;
        max-width: 100%;
    }

    .text-side-black h1, .text-side-white h1 {
        line-height: 0.8;
        max-width: 100%;
    }

    .text-side-white p, .text-side-white h1 {
        max-width: 100%;
        color: #000;
    }

    .read-more {
        font-size: 1.2rem;
    }
/* ============================= EXHAUSTION ============================= */
     .exhaustion-header {
        flex-direction: column-reverse;
     }

     .exhaustion-header-text {
        width: auto;
     }

     .exhaustion h1 {
        font-size: 26px;
     }

     .exhaustion p {
        font-size: 1.1rem;
     }

     .green-banner {
        font-size: 1.1rem;
     }

    /* ARTICLE 3 RESET */
    .article3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        background-size: contain;
        background: none;
    }

    .top-area {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        padding: 0;
        z-index: 5;
    }

    .top-image img {
        transform: none;
        width: 45vw;
        margin-bottom: 1rem;
    }

    .top-text {
        font-size: 4vw;
        letter-spacing: 0.1rem;
        width: 75vw;
        margin-bottom: 0;
    }

    /* TRIANGLE + TEXT STACK */
    .bottom-area {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3vh;
        padding: 3vh 0;
        text-align: center;
        z-index: 5;
        margin-top: -2px;
    }

    .middle-area {
        font-size: 2.6vw;
        z-index: 5;
    }

    .triangle {
        height: 300px;
        width: 100vw;
        background-size: contain;
        transform: translate(10vw);
    }

    .right-box {
        max-width: none;
        width: 75vw;
        font-size: 1.1rem;
        line-height: 1.4;
        text-align: center;
        padding-top: 0;
        margin: 0 auto;
    }

    /* ============================= FOOTER ============================= */

    .footer {
        font-size: 2vw;
    }

    /* ================ HIDDEN ELEMENTS & POSITION CHANGE ================ */


    .logo {
        top: 9vh;
        right: 6vw;
    }

    .bars {
        display: none;
    }

}


/* ====================== MOBILE VIEW ====================== */

@media (max-width: 390px) {
    .article1 .bg-image {
        position: relative;
    }

    .content1 {
        padding: 6vh 0 5vh;
    }

    .content2 {
        padding: 48vh 0 0vh;
    }

    .middle-area {
        font-size: 3vw;
        text-align: center;
    }

    .article3 {
        background: none;
    }


    .top-image img {
        width: 60vw;
    }

    .logo {
        width: 30vw;
    }

    .margin-btm {
        font-size: 18px;
    }
    
    .triangle {
        height: 150px;
        width: 110vw;
        margin-right: 11svw;
        margin-left: auto;
    }

/* ============================= EXHAUSTION ============================= */
    .exhaustion {
        padding: 50px 18px 0 18px;
    }

    .exhaustion h1 {
        font-size: 22px;
        line-height: 1.15;
    }

    .exhaustion p {
        font-size: 18px;
        line-height: 1.5;
    }

    .read-more {
        font-size: 18px;
    }

    .article3 .read-more {
        font-size: 18px;
    }
}