<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zazen Health Solutions</title>
    <link rel="stylesheet" href="../globalstatic/css/main-page.css">
</head>
<body>
    <section class="article1">
        <div class="bg-image"></div>
        <div class="content1">
            <div class="text-side-black">
                <h1>
                    <span class="first-line">OUR SLEEP IS</span><br>
                    <span class="second-line">BREAKING DOWN</span>
                </h1>

                <p>
                    Did you know &horbar; <strong>you&apos;re aging overnight&quest;</strong><br>
                    When sleep loses its natural rhythm. Healing stops midway,
                    and the system remains in stress mode till morning.
                    <br><strong>Your sleep architecture is collapsing.</strong><br>
                    <a href="sleep-matters.html" class="read-more">
                        READ MORE…
                    </a>
                </p>
            </div>
        </div>
    </section>
        
    <section class="article2">
        <div class="bg-image"></div>
        <div class="content2">
            <div class="text-side-white">
                <h1>
                    <span class="first-line-2">WHY SLEEP</span>
                    <span class="second-line-2">MATTERS&quest;</span>
                </h1>

                <p>
                    Sleep needs to be restorative.<br>
                    Restorative sleep fully resets the body and the brain, leaving 
                    you physically recovered, emotionally stable, mentally sharp, 
                    and hormonally balanced the next day. It is NOT about the 
                    duration of sleep. <br>
                    <a href="restorative-sleep.html" class="read-more">
                        READ MORE…
                    </a>
                </p>
            </div>
        </div>
    </section>

    <section class="article3">
        <div class="top-area">
            <div class="top-text">
                <h2>EXHAUSTION IS REAL.<br>BUT...  WE&apos;VE GOT YOU.</h2>
            </div>
            <div class="top-image">
                <img src="../globalstatic/images/main-page/eyewear.png">
            </div>
        </div>

        <div class="middle-area">
            <p>
                The Ultimate Sleep Solution. For 19 years, Zazen has been devoted to 
                understanding one thing&semi; what truly restores the human system. The 
                answer keeps pointing to the same foundation &ndash; <b>SLEEP.</b> Not just hours in 
                bed, but the quality of sleep cycle. <i>The depth. The rhythm. The 
                restoration.</i> This is the heart behind <a href="https://www.zazenhealthsolutions.com/iwear/" class="read-more">Zazen Scalar I&hyphen;Wear.</a><br><br>
                A breakthrough combining advanced scalar harmonics with ergonomic 
                design to guide the brain into deep, restorative states &ndash; anywhere, anytime. 
                Emerge restored. Emerge balanced. Emerge renewed.
                <a href="https://www.zazenhealthsolutions.com/iwear/" class="read-more">Zazen Scalar I&hyphen;Wear.</a>
            </p>

            <div class="green-banner">
                We&apos;re opening doors to meaningful collaborations. Join us in advancing the 
                future of restoration and human well&hyphen;being. Let&apos;s collaborate. 
                <a href="https://zazen.wufoo.com/forms/r8moewv03jtd39/" class="link"><span>TALK TO US&excl;</span></a>
            </div>
        </div>

        <div class="bottom-area">
            <div class="triangle"></div>
            <div class="right-box">
                A 30&hyphen;year commitment to studying and advancing 
                health and lifespan. The field of vitality is Zazen&apos;s 
                latest blueprint into the <i>era of scalar&hyphen;activated 
                vitality for our customers. <br>
                <a href="project-120.html" class="read-more">READ MORE...</a>
            </div>
        </div>

    </section>

    <div class="footer-wrapper">
        <div class="footer">
            <a href="https://www.zazenhealthsolutions.com" id="read">ZAZENHEALTHSOLUTIONS.COM</a>
        </div>
    </div>

    <div class="logo">
        <a href="main-index.html"><img src="../globalstatic/images/main-page/logo.png"></a>
    </div>

    <div class="bars">
        <img src="../globalstatic/images/main-page/greenbars.png">
    </div>
    
</body>
</html>