<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project 120</title>                
    <link rel="stylesheet" href="https://d2nt2stsaqz8ux.cloudfront.net/globalstatic/css/project-120.css">
</head>
<body>
   
    <div class="main-container">
        <div class="page4">
            <div class="header-area">
                <a href="main-index.html">
                <img src="https://d2nt2stsaqz8ux.cloudfront.net/globalstatic/images/project-120/zazenLogo.png" class="logo">
                </a>
                <img src="https://d2nt2stsaqz8ux.cloudfront.net/globalstatic/images/project-120/latestNews.png" class="latestNews">
            </div>
            <div class="content-area">
                <div class="text-area">
                    <p class="bold">THE DEMAND AND THE WORLD TODAY</p>
                    <p>Could longevity be a birthright we&apos;ve forgotten how to claim&quest; What if the missing link in wellness isn&apos;t a product, but the field that unites them&quest; </p>
                    <p class="bold">OUR COMMITMENT.</p>
                    <p>What if living to 120 isn&apos;t just possible - it&apos;s your legacy&quest; Longevity isn&apos;t just science, it&apos;s a lifestyle. </p>
                    <p class="bold">Introducing PROJECT 120.</p>
                    <p>A global initiative towards enhanced lifespan and wellness.  This is a 30-year commitment to studying and advancing health and lifespan.  <span style="font-style: italic;">The era of scalar-activated vitality has begun.</span></p>
                </div>
                <div class="project120-triangle">
                    <img src="https://d2nt2stsaqz8ux.cloudfront.net/globalstatic/images/project-120/project120.png" class="triangle">
                    <img src="https://d2nt2stsaqz8ux.cloudfront.net/globalstatic/images/project-120/triRainbow.png" class="rainbow">
                </div> 
                <div class="rainTriP" alt="Text under rainbow bullets"><p>Customers of Zazen will  have access to a holistic ecology of continuous study, advisory, research and development that supports optimal health.</p></div>
            </div>
        </div>
        <div class="page5">
            <div class="header2-area">
                <img src="https://d2nt2stsaqz8ux.cloudfront.net/globalstatic/images/project-120/invLogo.png" class="invLogo">
            </div>
            <div class="content2-area">
                <div class="grid-container">
                    <div class="grid-item1">
                        <img src="https://d2nt2stsaqz8ux.cloudfront.net/globalstatic/images/project-120/item1.png" class="icon">
                        <p>Our mission with <span class="bold">PROJECT 120</span> will transform the way we live. Longevity requires a global movement. <br>
                       <br> Together, we can redefine human health in the next century and bring meaningful solutions to families, communities, and nations.<br>
                       <br> This is your invitation to be part of a global shift in how the world sleeps, heals, and lives.</p>
                    </div>
                    <div class="grid-item2">
                        <img src="https://d2nt2stsaqz8ux.cloudfront.net/globalstatic/images/project-120/item2.png" class="icon">
                        <p>We are inviting&colon;</p>
                        <ul>
                            <li>Yoga teachers</li>
                            <li>Wellness researchers and centers</li>
                            <li>Sleep specialists</li>
                            <li>Neuroscientists</li>
                            <li>Integrative doctors</li>
                            <li>Performance coaches</li>
                            <li>Universities</li>
                            <li>Health Institutions</li>
                            <li>Global partners</li>
                        </ul>
                        <p>…to collaborate, test, co&hyphen;develop, and expand the vision</p>
                    </div>
                    <div class="grid-item3">
                        <img src="https://d2nt2stsaqz8ux.cloudfront.net/globalstatic/images/project-120/item3.png" class="icon">
                        <p>At the core of human longevity lies a simple truth: If we can restore sleep, we can restore life. <br><br>
                        Together, we&apos;re shaping a future where human potential doesn&apos;t decline with age &mdash; it expands.</p>
                    </div>
                    <div class="grid-item4">
                        <p><a href="mailto:kiran@zazenhealthsolutions.com" class="email-link"><span class="bold">LET&apos;S TALK&excl; Connect with us at kiran&commat;zazenhealthsolutions.com</span></a></p>
                    </div>
                </div>
            </div>
        </div>
</body>
</html>